{% load staticfiles %}
{% load math_tags %}


{{ money.final_amount|minus:money.initial_amount }}

<!-- Graph HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{% static "foo/jquery.flot.min.js" %}"></script>
<script src="{% static "foo/graph.js" %}"></script>
<link href="{% static "foo/style.css" %}" rel="stylesheet"/>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines">
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>
<div id="graph-wrapper">
<div class="graph-info">
    <a href="javascript:void(0)" class="visitors">Visitors</a>
    <a href="javascript:void(0)" class="returning">Returning Visitors</a>
    <a href="#" id="bars"><span></span></a>
    <a href="#" id="lines" class="active"><span></span></a>
</div>
<div class="graph-container">
<div id="graph-lines"></div>
<!-- <div id="graph-bars"></div> -->
    </div>
</div>

<!-- end Graph HTML -->
