{% extends "foo/base.html" %}

{% load staticfiles %}
{% load math_tags %}

<!-- Graph HTML -->
{% block base_body %}
<script src="{% static "foo/jquery.flot.min.js" %}"></script>

<!-- Code JS in HTML -->
{% include "foo/code.html" %}

<link href="{% static "foo/style.css" %}" rel="stylesheet"/>
<div class="row">
	<div class="small-4 columns">
        <a class="button" href="#" onclick="change1()" type="button" value="Marché réel" id="myButton1">Marchée réel<a/>
        </div>
	<div class="small-4 columns">
	<a class="button" href="#" onclick="change2()" type="button" value="Votre Marché" id="myButton2">Votre marché</a>
        </div>
	<div class="small-4 columns">
	<a class="button"href="#" onclick="change3()" type="button" value="Foo-ture" id="myButton3">Foo-ture</a>
	</div>
</div>
<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Profit & Loss</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Performance</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines2">
                    <!-- <div id="graph-bars"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Performance Annualisée</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines3"></div>
                <!-- <div id="graph-bars"></div> -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Volatilité</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines4"></div>
                <!-- <div id="graph-bars"></div> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Maximum DrawnDarawn</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines5"></div>
                <!-- <div id="graph-bars"></div> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-4 small-centered columns">
        <div id="graph-wrapper">
            <div class="graph-info">
                <h2>Traking Error</h2>
                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>
            <div class="graph-container">
                <div id="graph-lines6"></div>
                <!-- <div id="graph-bars"></div> -->
            </div>
        </div>
    </div>
</div>

<!-- end Graph HTML -->
{% endblock %}
